.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#product-page-div {
  margin: 40px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#product-page-div > h1 {
 padding: 0;
 margin: 0;
}


#search-div {
  display: flex;
  flex-direction: column;
  width: 90%;

  padding: 0 15px;
  margin: 15px 0 0 0;
}

#search-div > label {
  margin-bottom: 15px;
}

#search-bar {
  margin-bottom: 15px;
  padding: 10px;
}
